<h3 mat-h3 class="text-center">Overview</h3>
<div class="chart-container flex h-center">    
    <ngx-charts-number-card class="chart" [scheme]="'fire'" [results]="data">
    </ngx-charts-number-card>
    <!-- <label for="avgEntranceTime">Avg. entrance time: </label>
    <span name="avgEntranceTime">{{overview.avgEntranceTime}}</span>,

    <label for="avgExitTime">Avg. exit time: </label>
    <span name="avgExitTime">{{overview.avgExitTime}}</span>,

    <label for="avgWorkHourNorm">Avg. work hour norm: </label>
    <span name="avgWorkHourNorm">{{overview.avgWorkHourNorm}}</span> -->
</div>