<mat-sidenav-container id="app-sidenav-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list id="app-side-nav">
            <a mat-list-item mat-stroked-button color="primary" class="button-nav"
                (click)="reloadActiveAccessPoints()">Active</a>
            <a mat-list-item mat-stroked-button color="primary" class="button-nav"
                (click)="reloadInActiveAccessPoints()">In-Active</a>
            <a mat-list-item mat-stroked-button color="primary" class="button-nav"
                (click)="reloadUnKnownAccessPoints()">Unknown</a>
            <a mat-list-item mat-stroked-button color="primary" class="button-nav"
                (click)="reloadDeletedAccessPoints()">Deleted</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <h2 mat-h2 class="text-center">{{Title}}</h2>
        <ng-container *ngIf="accessPoints.length > 0">
            <div *ngFor="let ap of accessPoints">
                <app-access-point-item [accessPoint]="ap" (accessPointUpdate)="reloadAccessPoints()">
                </app-access-point-item>
            </div>
        </ng-container>
        <ng-container *ngIf="unknownAccessPoints.length > 0">
            <div *ngFor="let uap of unknownAccessPoints">
                <app-unknown-access-point-item [unknownAccessPoint]="uap" (accessPointUpdate)="reloadAccessPoints()">
                </app-unknown-access-point-item>
            </div>
        </ng-container>
    </mat-sidenav-content>
</mat-sidenav-container>