<mat-sidenav-container id="app-sidenav-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list id="app-side-nav">
            <a mat-list-item mat-stroked-button color="primary" class="button-nav" (click)="reloadActiveAccessPoints(0, 5)"
                [disabled]="counts.active <= 0">Active ({{counts.active}})</a>
            <a mat-list-item mat-stroked-button color="primary" class="button-nav"
                (click)="reloadInActiveAccessPoints(0, 5)" [disabled]="counts.inActive <= 0">In-Active
                ({{counts.inActive}})</a>
            <a mat-list-item mat-stroked-button color="primary" class="button-nav" (click)="reloadUnKnownAccessPoints(0, 5)"
                [disabled]="counts.unknown <= 0">Unknown ({{counts.unknown}})</a>
            <a mat-list-item mat-stroked-button color="primary" class="button-nav" (click)="reloadDeletedAccessPoints(0, 5)"
                [disabled]="counts.deleted <= 0">Deleted ({{counts.deleted}})</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <h2 mat-h2 class="text-center">{{Title}}</h2>
        <ng-container *ngIf="accessPointsPaginator.items.length > 0">
            <div class="pagination-container flex h-right">
                <mat-paginator class="pagination" [length]="accessPointsPaginator.count"
                    [pageSize]="accessPointsPaginator.pageSize" [pageIndex]="accessPointsPaginator.page" color="primary"
                    (page)="reloadAccessPoints($event)">
                </mat-paginator>
            </div>
            <div *ngFor="let ap of accessPointsPaginator.items">
                <app-access-point-item [accessPoint]="ap" (accessPointUpdate)="reloadAccessPoints(null)">
                </app-access-point-item>
            </div>
        </ng-container>
        <ng-container *ngIf="unknownAccessPointsPaginator.items.length > 0">
            <div class="pagination-container flex h-right">
                <mat-paginator class="pagination" [length]="unknownAccessPointsPaginator.count"
                    [pageSize]="unknownAccessPointsPaginator.pageSize" [pageIndex]="unknownAccessPointsPaginator.page"
                    color="primary" (page)="reloadAccessPoints($event)">
                </mat-paginator>
            </div>
            <div *ngFor="let uap of unknownAccessPointsPaginator.items">
                <app-unknown-access-point-item [unknownAccessPoint]="uap"
                    (accessPointUpdate)="reloadAccessPoints(null)">
                </app-unknown-access-point-item>
            </div>
        </ng-container>
    </mat-sidenav-content>
</mat-sidenav-container>