nav a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    direction: ltr;
}

nav {
    text-align: center;
}

nav ul {
    display: inline-block;
}

nav ul li {
    display: inline-block;
    margin: 1.1em;
}