<div *ngIf="accessPoint.canEdit==false">
    <div class="field-wrapper">
        <div class="label-value">
            <label for="serialNumber">Serial number: </label>
            <span name="serialNumber">{{unknownAccessPoint.serialNumber}}</span>
        </div>
        <div class="label-value">
            <label for="accessDate">Access date: </label>
            <span name="accessDate">{{unknownAccessPoint.accessDate.toLocaleString()}}</span>
        </div>
        <button (click)="activate()">Activate</button>
    </div>
</div>
<div *ngIf="accessPoint.canEdit==true">
    <app-access-point-item [accessPoint]="accessPoint" (accessPointUpdate)="update()"></app-access-point-item>
</div>