<div>
    <div class="chart-container">
        <h3 mat-h3 class="text-center">Work hour norm</h3>
        <ngx-charts-bar-vertical class="chart" [results]="workHourNormPerDays" [gradient]="false" [xAxis]="true"
            [yAxis]="true" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Days'"
            [yAxisLabel]="'Norm in minutes'" [scheme]="'nightLights'">
        </ngx-charts-bar-vertical>
    </div>
    <div class="date-picker-container flex h-right">
        <mat-form-field class="date-picker">
            <input matInput [matDatepicker]="startDatePicker" placeholder="Choose a start date"
                [value]="workHourNormStartSearchDate | date:'yyyy-MM-dd'"
                (dateChange)="loadNormWorkHours($event.target.value, endDateInput.value)" #startDateInput>
            <mat-datepicker-toggle matSuffix [for]=" startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="date-picker">
            <input matInput color="primary" [matDatepicker]="endDatePicker" placeholder="Choose a end date"
                [value]="workHourNormEndSearchDate | date:'yyyy-MM-dd'"
                (dateChange)="loadNormWorkHours(startDateInput.value, $event.target.value)" #endDateInput>
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="chart-container">
        <h3 mat-h3 class="text-center">Entrance / exit time</h3>
        <ngx-charts-line-chart class="chart" [scheme]="'cool'" [results]="entranceExitTimePerDay" [gradient]="false"
            [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true"
            [xAxisLabel]="'Days'" [yAxisLabel]="'Time'" [yAxisTickFormatting]="formatMinutesAsTime">
        </ngx-charts-line-chart>
    </div>
    <div class="date-picker-container flex h-right">
        <mat-form-field class="date-picker">
            <input matInput color="primary" [matDatepicker]="entranceStartDatePicker" placeholder="Choose a start date"
                [value]="workHourNormStartSearchDate | date:'yyyy-MM-dd'"
                (dateChange)="loadEntranceExitTime($event.target.value, entranceEndDateInput.value)"
                #entranceStartDateInput>
            <mat-datepicker-toggle matSuffix [for]=" entranceStartDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #entranceStartDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="date-picker">
            <input matInput color="primary" [matDatepicker]="entranceEndDatePicker" placeholder="Choose a end date"
                [value]="workHourNormEndSearchDate | date:'yyyy-MM-dd'"
                (dateChange)="loadEntranceExitTime(entranceStartDateInput.value, $event.target.value)"
                #entranceEndDateInput>
            <mat-datepicker-toggle matSuffix [for]="entranceEndDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #entranceEndDatePicker></mat-datepicker>
        </mat-form-field>
    </div>
</div>