<div>
    <h3>Work hour norm</h3>
    <div class="chart-container">
        <ngx-charts-bar-vertical [results]="workHourNormPerDays" [gradient]="false" [xAxis]="true" [yAxis]="true"
            [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Days'"
            [yAxisLabel]="'Norm in minutes'" [scheme]="'ocean'">
        </ngx-charts-bar-vertical>
    </div>
    <div>
        <label for="workHourNormStartDate">Start date: </label>
        <input name="workHourNormStartDate" type="date" [value]="workHourNormStartSearchDate | date:'yyyy-MM-dd'"
            (change)="loadNormWorkHours($event.target.value, endDateInput.value)" #startDateInput />

        <label for="workHourNormEndDate">End date: </label>
        <input name="workHourNormEndDate" type="date" [value]="workHourNormEndSearchDate | date:'yyyy-MM-dd'"
            (change)="loadNormWorkHours(startDateInput.value, $event.target.value)" #endDateInput />
    </div>
    <h3>Entrance / exit time</h3>
    <div class="chart-container">
        <ngx-charts-line-chart [scheme]="'fire'" [results]="entranceExitTimePerDay" [gradient]="false" [xAxis]="true"
            [yAxis]="true" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Days'"
            [yAxisLabel]="'Time'" [yAxisTickFormatting]="formatMinutesAsTime">
        </ngx-charts-line-chart>
    </div>
    <div>
        <label for="entranceExitTimeStartDate">Start date: </label>
        <input name="entranceExitTimeStartDate" type="date" [value]="entranceExitTimeStartDate | date:'yyyy-MM-dd'"
            (change)="loadEntranceExitTime($event.target.value, entranceExitTimeEndDateInput.value)"
            #entranceExitTimeStartDateInput />

        <label for="entranceExitTimeEndDate">End date: </label>
        <input name="entranceExitTimeEndDate" type="date" [value]="entractExitTimeEndDate | date:'yyyy-MM-dd'"
            (change)="loadEntranceExitTime(entranceExitTimeStartDateInput.value, $event.target.value)"
            #entranceExitTimeEndDateInput />
    </div>
</div>