<div id="tag-container">
    <div id="tag-active">
        <h3>Active</h3>
        <div *ngFor="let t of active" class="grid-item">
            <app-tag-item [tag]="t" [users]="users" (tagUpdateEvent)="reload()"></app-tag-item>
        </div>
    </div>
    <div id="tag-inactive">
        <h3>In-Active</h3>
        <div *ngFor="let it of inActive" class="grid-item">
            <app-tag-item [tag]="it" [users]="users" (tagUpdateEvent)="reload()"></app-tag-item>
        </div>
    </div>
    <div id="tag-unknown">
        <h3>Unknown</h3>
        <div *ngFor="let ut of unknown" class="grid-item">
            <app-unknown-tag-item [unknownTag]="ut" (tagUpdateEvent)="reload()"></app-unknown-tag-item>
        </div>
    </div>
</div>