<mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
<mat-nav-list class="flex h-right">
    <a mat-list-item mat-stroked-button color="primary" class="button-nav"
        (click)="navigationService.gotoStat()">Statistic</a>
    <a mat-list-item mat-stroked-button color="primary" class="button-nav"
        (click)="navigationService.gotoAccessPoint()">Access Point managment</a>
    <a mat-list-item mat-stroked-button color="primary" class="button-nav" (click)="navigationService.gotoTag()">Tag
        managment</a>
    <a mat-list-item mat-stroked-button color="primary" class="button-nav" (click)="export()">Export</a>
</mat-nav-list>
<h1 class="text-center" mat-h1>{{Title}}</h1>
<hr />
<section id="app-content" [ngClass]='{blur: isLoading}'>
    <router-outlet></router-outlet>
</section>