<mat-card *ngIf="tag.canEdit == false" class="wrapper">
    <mat-card-subtitle>{{unknownTag.number}}</mat-card-subtitle>
    <mat-card-content>
        <div class="label-value">
            <label for="accessDate">Access date: </label>
            <span name="accessDate">{{unknownTag.getAccessDateDisplayText()}}</span>
        </div>
    </mat-card-content>
    <mat-card-actions class="flex h-right">
        <button mat-stroked-button color="accent" (click)="activate()">Activate</button>
    </mat-card-actions>
</mat-card>
<div *ngIf="tag.canEdit">
    <app-tag-item [tag]="tag" (tagUpdateEvent)="update()" [users]="users"></app-tag-item>
</div>