<mat-card class="wrapper">
    <mat-card-subtitle>{{accessPoint.serialNumber}}</mat-card-subtitle>
    <mat-card-content>
        <div class="flex">
            <div>
                <p>
                    <mat-form-field>
                        <mat-label for="accessLevel">Access level: </mat-label>
                        <mat-select [value]="accessPoint.getAccessLevelText()" [formControl]="accessLevelControl">
                            <mat-option *ngFor="let accessLevel of accessLevels" [value]="accessLevel">{{accessLevel}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label for="direction">Direction: </mat-label>
                        <mat-select [value]="accessPoint.getDirectionText()" [formControl]="directionControl">
                            <mat-option *ngFor="let direction of directions" [value]="direction">{{direction}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
            </div>
            <mat-divider [vertical]="true" color="primary" class="devider"></mat-divider>
            <p class="w-fill">
                <mat-form-field class="w-fill" hintLabel="Not empty">
                    <textarea name="description" placeholder="Description" [formControl]="descriptionControl"
                        minlength="1" rows="5" matInput required>{{accessPoint.description}}</textarea>
                    <mat-error *ngIf="descriptionControl.invalid">Description can't be empty</mat-error>
                </mat-form-field>
            </p>
        </div>
        <div class="label-value">
            <label for="createDate">Create date: </label>
            <span name="createDate">{{accessPoint.getCreateDateDisplayText()}}</span>
        </div>
        <div class="label-value">
            <label for="modificationDate">Modification date: </label>
            <span name="modificationDate">{{accessPoint.getModificationDateDisplayText()}}</span>
        </div>
    </mat-card-content>
    <mat-card-actions class="flex h-right">
        <button mat-stroked-button color="accent" *ngIf="accessPoint.canEdit==false" class='button edit'
            (click)="enableEdit()">Edit</button>
        <button mat-stroked-button color="accent" *ngIf="accessPoint.canEdit" (click)="cancelEdit()">Cancel</button>
        <button mat-stroked-button color="accent" (click)="updateActivateStatus()"
            [disabled]="accessPoint.canEdit || accessPoint.isDeleted">{{accessPoint.isActive ? "De-Activate" : "Activate"}}</button>
        <button *ngIf="accessPoint.isDeleted==false" mat-stroked-button color="accent" (click)="delete()"
            [disabled]="accessPoint.canEdit">Delete</button>
        <button *ngIf="accessPoint.isDeleted" mat-stroked-button color="accent" (click)="unDelete()"
            [disabled]="accessPoint.isRegistered() && accessPoint.canEdit">Recover deleted</button>
        <button mat-stroked-button color="accent" class='button save' (click)="registerOrUpdate()"
            [disabled]="accessPoint.canEdit == false">Save</button>
    </mat-card-actions>
</mat-card>